[submodule "projects/lecture-neural-networks"]
	path = projects/lecture-neural-networks
	url = ../lecture-neural-networks.git
[submodule "projects/lecture-python-basics"]
	path = projects/lecture-python-basics
	url = ../lecture-python-basics.git
[submodule "projects/lecture-natural-language-processing"]
	path = projects/lecture-natural-language-processing
	url = ../lecture-natural-language-processing.git
